/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  
}

body {
    padding: 0 3rem;
    background-color: rgba(0, 255, 255, 0.226);
    background-image: url(https://i.pinimg.com/originals/b1/58/de/b158def2c65daec157e285cea99d3c2a.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
  font-size: medium;
}

.title--main {
  margin-block-end: 0;
}
div{
  
  text-align: center;
   font-size: larger;
  
}
button{
  border-radius: .2rem;
  border-color: darkgray;
  margin: .5%;
  box-shadow: 1px 2px 3px 1px rgb(102, 102, 102);
    background-color: rgba(247, 208, 214, 0.911);
}
.quote{
  font-size: larger;
  margin-top: 100px;
  background-color: rgba(247, 208, 214, 0.911);
  border-radius: 1rem;
}
.aboutUs{
  display: flex;
  margin-top: 5%;
  background-image: url(https://media3.giphy.com/media/uFkl9xGeilTpuRbNQn/giphy.gif?cid=790b761104561e7436a3dd5e731a587b887e581abed6e89e&rid=giphy.gif&ct=g);
  background-position: center;
    background-size: contain;
    justify-content: center;
    
    
}
html{
  background-image: url(https://i.pinimg.com/originals/b1/58/de/b158def2c65daec157e285cea99d3c2a.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
